.popup h1 {
    margin: 0;
    padding: 0;
}

.popup {
    padding: 15px 15px;
    position: fixed;
    width: 100% !important;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.popup_inner {
    padding: 12px 12px;
    left: 15%;
    right: 20%;
    margin-left: auto;
    margin-right: auto;
    top: 20%;
    bottom: 20%;
    position: absolute;
    background: white;
    height: 70%;
    overflow-y: scroll;
}

.close_popup_button {
    position: fixed;
    top: 92.5%;
    left: 45%;
    border:1px;
    color: black;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    transition-duration: 0.4s;
}

.close_popup_button:hover {
    background-color: #5C5A5A; /* Green */
    color: white;
}